<div class="row">
    <div class="col-lg-12">
        <div class="tight-grid">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Measurement name</label>
                    <select class="form-control" [(ngModel)]="widgetInfo.measurement.name" (focus)="loadFragmentSeries()" (change)="updateConfig()">
                        <option [ngValue]="seriesValue" *ngFor="let seriesValue of widgetInfo.measurement.supportedSeries">{{seriesValue}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Measurement font size</label>
                    <input type="number" class="form-control" [(ngModel)]="widgetInfo.measurement.fontSize" min="1" (change)="updateConfig()" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>No. of digits after decimal</label>
                    <input type="number" class="form-control" [(ngModel)]="widgetInfo.measurement.decimalDigits" min="0" (change)="updateConfig()" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <fieldset>
            <div class="legend form-block center">
                Gauge
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Indicator type</label>
                        <select class="form-control" [(ngModel)]="widgetInfo.gauge.indicatorType">
                            <option value="pointer">Pointer</option>
                            <option value="progressbar">Progress bar</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Axis width</label>
                        <input type="number" class="form-control" min="1" [(ngModel)]="widgetInfo.gauge.axisWidth" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Axis label distance</label>
                        <input type="number" class="form-control" [(ngModel)]="widgetInfo.gauge.axisLabelDistance" />
                    </div>
                </div>
                <ng-container *ngIf="widgetInfo.gauge.indicatorType === 'pointer'">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Pointer offset (in %)</label>
                            <input type="number" class="form-control" [(ngModel)]="widgetInfo.gauge.pointer.offset" />
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="widgetInfo.gauge.indicatorType === 'progressbar'">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Progress bar color</label>
                            <input type="color" class="form-control" [(ngModel)]="widgetInfo.gauge.progressBar.color" />
                        </div>
                    </div>
                </ng-container>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <fieldset>
            <div class="legend form-block center">
                Label
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Text</label>
                        <input type="text" class="form-control" [(ngModel)]="widgetInfo.label.text" (change)="updateConfig()" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Font size</label>
                        <input type="number" class="form-control" [(ngModel)]="widgetInfo.label.fontSize" min="1" (change)="updateConfig()" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Hyperlink (optional)</label>
                        <input type="text" class="form-control" [(ngModel)]="widgetInfo.label.hyperlink" (change)="updateConfig()" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <fieldset>
            <div class="legend form-block center">
                Ranges
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Starting value</label>
                        <input type="number" class="form-control" [(ngModel)]="widgetInfo.startValue" (change)="updateConfig()" />
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let r of widgetInfo.ranges; let i = index">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Limit value</label>
                        <input type="number" class="form-control" [(ngModel)]="r.limitValue" (change)="updateConfig()" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Color</label>
                        <input type="color" class="form-control" [(ngModel)]="r.color" (change)="updateConfig()" />
                    </div>
                </div>
                <ng-container *ngIf="i > 0">
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-link" (click)="deleteRange(i)" style="margin-top:20px;">Delete range</button>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-link" (click)="addRange()">Add range</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>